<header>
    <div class="container">
        <nav>

            <div class="menu-icons open">
                <i class="icon ion-md-menu"></i>
            </div>

            <ul class="nav-list">
                <div class="menu-icons close">
                    <fa-icon [icon]="faTimes"></fa-icon>
                </div>
                <li class="nav-item">
                    <span class="userName">Ahmed</span>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <a href="#" class="nav-link current">Home</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                    <a href="#" class="nav-link">Payroll</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faBook"></fa-icon>
                    <a href="#" class="nav-link">My Payslip</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faLink"></fa-icon>
                    <a href="#" class="nav-link">My Loans</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <a href="#" class="nav-link">My Profile</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faChartPie"></fa-icon>
                    <a href="#" class="nav-link">Reports</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCog"></fa-icon>
                    <a href="#" class="nav-link">Settings</a>
                </li>
                <input id="buttonWebsite" class="nav-item" type="button" value="Website">

                <div>
                    <ul class="contact">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="generalSettings">
        <div>
            <fa-icon [icon]="faBars"></fa-icon>
            <p id="HRUser"><span id="HR">HR</span> User</p>
        </div>
        <div>
            <span>
                Language
            </span>
            <span class="language active">
                English
            </span>
            <span class="language">
                عربي
            </span>
        </div>
        <div>
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <fa-icon [icon]="faQuestionCircle"></fa-icon>
            <fa-icon [icon]="faCog"></fa-icon>
            <fa-icon [icon]="faCaretDown"></fa-icon>
            <i>Show Filters</i>
        </div>
        <div>
            <span>
                Show
            </span>
            <div id="dropDown">
                <input type="button" value="20">
                <fa-icon [icon]="faAngleDown"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="faPlus"></fa-icon>
                <input type="button" value="Employee">
            </div>
            <div (click)="filterDialog()">
                <fa-icon [icon]="faPlus"></fa-icon>
                <input type="button" value="Add Filter">
            </div>
            <div>
                <input type="button" value="Export">
                <fa-icon [icon]="faDownload"></fa-icon>
            </div>
        </div>
    </section>
    <section class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <fa-icon [icon]="faAngleUp"></fa-icon>
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Hiring Date
                    </th>
                    <th>
                        Gross Salary
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>
                        {{employee.fullName_FL}}
                    </td>
                    <td>
                        {{employee.position.name_FL}}
                    </td>
                    <td>
                        {{employee.hiringDate | date}}
                    </td>
                    <td>
                        {{employee.firstContractingSalary | number}}
                    </td>
                    <td>
                        <fa-icon [icon]="faEdit"></fa-icon> <input type="button" value="Terminate" /> <input
                            type="button" value="Suspend" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tableButtons">
            <div>
                <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
                <input type="button" value="Previous">
            </div>
            <div>
                <input type="button" value="Next">
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
            </div>
        </div>
        <p id="pageNum">
            Page 1/40
        </p>
    </section>
</main>