<header>
    <div class="container">
        <nav>

            <div class="menu-icons open">
                <i class="icon ion-md-menu"></i>
            </div>

            <ul class="nav-list">
                <div class="menu-icons close">
                    <i class="icon ion-md-close">close</i>
                </div>
                <li class="nav-item">
                    <span class="userName">Ahmed</span>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <a href="#" class="nav-link current">Home</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <a href="#" class="nav-link">DestDestDest</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <a href="#" class="nav-link">Pricing</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <a href="#" class="nav-link">Booking</a>
                </li>
                <li class="nav-item">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    <a href="#" class="nav-link">About</a>
                </li>
                <input id="buttonWebsite" class="nav-item" type="button" value="Website">

                <div>
                    <ul class="contact">
                        <fa-icon [icon]="faCoffee"></fa-icon>
                        <fa-icon [icon]="faCoffee"></fa-icon>
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="generalSettings">
        <div>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <p id="HRUser"><span id="HR">HR</span> User</p>
        </div>
        <div>
            <span>
                Language
            </span>
            <span class="language active">
                English
            </span>
            <span class="language">
                عربي
            </span>
        </div>
        <div>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
        <div>
            <span>
                Show
            </span>
            <div id="dropDown">
                <input type="button" value="20">
                <fa-icon [icon]="faCoffee"></fa-icon>
            </div>
            <div>
                <fa-icon [icon]="faCoffee"></fa-icon>
                <input type="button" value="Employee">
            </div>
            <div>
                <fa-icon [icon]="faCoffee"></fa-icon>
                <input type="button" value="Add Filter">
            </div>
            <div>
                <input type="button" value="Export">
                <fa-icon [icon]="faCoffee"></fa-icon>
            </div>
        </div>
    </section>
    <section class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        hjgvhhh<fa-icon [icon]="faCoffee"></fa-icon>
                        <fa-icon [icon]="faCoffee"></fa-icon>
                    </th>
                    <th>
                        ghfgfgf
                    </th>
                    <th>
                        ghfgfgf
                    </th>
                    <th>
                        ghfgfgf
                    </th>
                    <th>
                        ghfgfgf
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        <fa-icon [icon]="faCoffee"></fa-icon> <input type="button" value="Terminate" /> <input
                            type="button" value="Suspend" />
                    </td>
                </tr>
                <tr>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        <fa-icon [icon]="faCoffee"></fa-icon> <input type="button" value="Terminate" /> <input
                            type="button" value="Suspend" />
                    </td>
                </tr>
                <tr>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        uhuhuh rfrdrd ijoijoi ftftftf
                    </td>
                    <td>
                        <fa-icon [icon]="faCoffee"></fa-icon> <input type="button" value="Terminate" /> <input
                            type="button" value="Suspend" />
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>